<!DOCTYPE HTML>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="default">
    <head>
        <title>Create New Booking</title>
    </head>
    <body>
        <div layout:fragment="content" class="row">
            <div class="col-xs-8 col-md-8">
                <br/><br/>
                <h3>
                    <a href="/booking" class="btn btn-lg btn-primary"><span class="glyphicon glyphicon-list"></span> Booking</a>
                </h3>
                <h2>Create New Booking</h2>
                <form action="/save">
                    <div class="form-group">
                        <label for="email">Customer Name:</label>
                        <input type="text" class="form-control" name="custName" />
                    </div>
                    <div class="form-group">
                        <label for="email">Address</label>
                        <textarea class="form-control" name="custAddress" cols="60" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="email">Mobile No</label>
                        <input type="text" class="form-control" name="mobileno" />
                    </div>
                    <div class="form-group">
                        <label for="facilty">Facility:</label>
                            <select class="form-control" name="facility" id="facility">
                              <option value="Meeting Room">Meeting Room</option>
                              <option value="Sport Hall">Sport Hall</option>
                              <option value="Bilik Kuliah">Bilik Kuliah</option>
                              <option value="Basketball Court">Basket Ball Court</option>
                            </select>
                        
                    </div>
                    
                    <div class="form-group">
                        <label for="hour">Hour:</label>
                        <select class="form-control" name="hour" id="hour">
                           <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="4">4</option>
                        </select>
                    </div>
                    
                   
                    
                    

                   
                    <div class="form-group">
					    <input type="hidden" class="form-control" name="status" value="Pending"/>
                    </div>
                    <button type="submit" class="btn btn-success">Save</button>
                </form>
            </div>
        </div>
        
        
    </body>
</html>
